In [67]:
# import dependencies
from flask import Flask, jsonify, render_template, request
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import pandas as pd

In [54]:
engine = create_engine("sqlite:///belly_button_biodiversity.sqlite")

In [55]:
app = Flask(__name__)
app.config['SQLALCHEMY_DATABASE_URI'] = "sqlite:///belly_button_biodiversity.sqlite"

In [56]:
Base = automap_base()

In [57]:
Base.prepare(engine, reflect=True)

In [58]:
Base.classes.keys()

['otu', 'samples', 'samples_metadata']

In [59]:
Data = Base.classes.samples_metadata
Samples = Base.classes.samples
OTU = Base.classes.otu

In [60]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [61]:
results = session.query(Data.SAMPLEID).all()

In [62]:
def sampleNames():
    results = session.query(Data.sampleid).all()

    names = []
    for result in results:
        names.append(result)
    return jsonify(names)

In [63]:
columns = samples.c

NameError: name 'samples' is not defined

In [64]:
def sampleNames():
    results = session.query(Data.SAMPLEID)

    names = []
    for result in results:
        names.append(f"BB_{result}")
    return jsonify(names)

In [75]:
df = pd.read_sql_table("samples", "sqlite:///belly_button_biodiversity.sqlite", index_col="otu_id")

In [76]:
df.head()

,BB_940,BB_941,BB_943,BB_944,BB_945,BB_946,BB_947,BB_948,BB_949,BB_950,...,BB_1562,BB_1563,BB_1564,BB_1572,BB_1573,BB_1574,BB_1576,BB_1577,BB_1581,BB_1601
otu_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [80]:
sort1 = df['BB_940'].sort_values(ascending=False)
sort1.head()

otu_id
1167    163
2859    126
482     113
2264     78
41       71
Name: BB_940, dtype: int64